.addCardModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.addCardModalContainer {
  background: rgb(35, 35, 35);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  padding: 32px 32px 28px 32px;
  min-width: 350px;
  max-width: 522px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.addCardModalHeader {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  margin-bottom: 16px;

  span:first-child {
    margin-bottom: 18px;
  }
}

.addCardModalInput {
  width: 100%;
  padding: 14px 18px !important;
  border-radius: 8px !important;
  border: 1px solid rgb(190, 219, 176);
  background: rgb(35, 35, 35) !important;
  color: white;
  font-size: 14px !important;
  box-sizing: border-box;
}

.addCardModalInput::placeholder {
  color: rgba(255, 255, 255, 0.504);
}

.addCardModalInput:focus {
  outline: none;
  border: 1px solid rgb(190, 219, 176) !important;
}

/* Textarea */
.addCardModalTextArea {
  border: 1px solid rgb(190, 219, 176);
  border-radius: 8px;
  width: 100%;
  min-height: 80px;
  font-weight: 400;
  font-size: 14px;
  background: rgb(35, 35, 35);
  color: white;
  padding: 14px 18px;
  transition: border 0.2s;
  box-sizing: border-box;
  resize: none;
  font-family: inherit;
}

.addCardModalTextArea::placeholder {
  color: rgba(255, 255, 255, 0.56);
}

.addCardModalTextArea:focus {
  outline: none;
  border: 1px solid rgb(190, 219, 176) !important;
}

.labelContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.labelOptions {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.labelOptions input {
  opacity: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.labelOptions span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #232323;
  box-sizing: border-box;
  transition: border 0.2s ease;
}

.labelOptions input:checked + span {
  border: 2px solid #fff;
}
